html, body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px ;
    text-align:center;
    word-spacing:10%;
    letter-spacing:0.1em;
    line-height:2em;
    background-color: rgb(0, 0, 0);
}

#processingsection{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    border: 25px solid rgb(10, 6, 80);
    border-radius: 25px;
}